h1 {
    color: white;
    font-size: 2em;
    margin-top: 20px; /* marge */
    text-align: center;
}

/* Carte matelas */
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px auto;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
    max-width: 400px;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.card-text {
    color: #555;
}

/* Btn style carte */
.btn-primary,
.btn-danger {
    background-color: #3490dc;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

/* Btnn supprimer */
.btn-danger {
    background-color: #e3342f !important;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 1%;
}

.form-control {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

body {
    background-color: lightgray;
}
