/* styles.css */

h1 {
    color: white;
    font-size: 2em;
    margin-top: 20px; /* marge */
    text-align: center;
}

/* Carte matelas */
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px auto; /* Margin auto pour centrer la carte horizontalement */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%; /* Reduire la largeur à 50% de la largeur parente (centré et deux fois moins large) */
    max-width: 400px; /* Ajoutez une largeur maximale pour éviter que la carte ne devienne trop large */
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.card-text {
    color: #555;
}

/* Boutons style cartes */
.btn-primary,
.btn-danger {
    background-color: #3490dc;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

/* Bouton supprimer spécifique */
.btn-danger {
    background-color: #e3342f !important; /* Ajoutez !important pour renforcer le style */
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 1%;
}

.form-control {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Fond */
body {
    background-color: lightgray;
}
